#index {
    background-image: url("https://mc180g.github.io/MattColson/images/smoke_wallpaper_blue.jpeg");
    background-size: 100%;
  
}

h1 {
    font-size: medium;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bio {
    font-size: 14px;
    /* font-family: 'Cute Font', cursive; */
    margin-right: 15px;
    margin-top: 30px;
}

#contact-btns {
    display: inline;
}

#contact {
    background-image: url("https://mc180g.github.io/MattColson/images/blue_pink_triangles_wallpaper.jpg");
    background-size: 100%;
    font-family: 'Righteous', cursive;

}
/* 
*---------Font Options-------------*
Big Shoulders Text
Cute Font
Righteous
Shadows Into Light
Yeon Sung
ZCOOL QingKe HuangYou
 */

.hmu {
    background-color: lightblue;
    color: red;
    width: 30%;
    
}

#portf {
    background-image: url("https://mc180g.github.io/MattColson/images/business_wallpaper_indigo.jpeg");
    font-family: 'Big Shoulders Text', cursive;
}

    #slack {
        background-image: url("https://mc180g.github.io/MattColson/images/clear-slack-icon.png");
    }

    #linkedin {
        background-image: url("https://mc180g.github.io/MattColson/images/linkedin-icon.png");
    }

    #youtube {
        background-image: url("https://mc180g.github.io/MattColson/images/youtube-icon.png");
    }

    .btn {
        margin-bottom: 12px;
    }